body { box-sizing: border-box; }

.main {
    width: 638px;
    margin: 0 auto;
}

.keyboard {
    display: flex;
    justify-content: space-between;
    border: 2px solid #00000d;
    margin: 150px auto;
}

.row {
    display: flex;
}

.key {
    display: inline-block;
    width: 43px;
    height: 43px;
    border: 1px solid #000000;
}